body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: black;
}
a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: gray;
}
a:hover {
    color: #00ae8b;
}
.header {
    background: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    width: auto;
    align-items: center;
    text-align: center;
    padding: 8px;
    height: 100%;
    margin-bottom: 30px;
}
.header a {
    color: white;
    text-decoration: none;
}
.unauthorized-page {
    width: 960px;
    margin: 0 auto;
    color: white;
    text-align: center;
}
.create-page-content {
    align-items: center;
    text-align: center;
}
.user-menu {
    align-items: center;
    text-align: center;
}
.auth-content {
    padding: 5px 25px;
    border-radius: 5px;
    font-size: 18px;
}
.auth-content a {
    text-decoration: none;
    background: white;
    padding: 8px 20px;
    border-radius: 8px;
    color: black;
}
.auth-content a:hover {
    padding: 9px 22px;
    color: #00ae8b;
}
.user-menu .article-buttons {
    margin-top: 20px;
    margin-bottom: 10px;
}
.article-buttons a {
    text-decoration: none;
    background: white;
    padding: 8px 20px;
    border-radius: 8px;
    color: black;
}
.article-buttons a:hover {
    padding: 9px 22px;
    color: #00ae8b;
}
/* Блок с иконками для параллакса */
.icons-for-parallax {
    position: top;
    right: 40px;
    top: 100px;
    height: 100px;
}
.icons-for-parallax img {
    position: absolute;
    top: 0;
    z-index: 1;
}
.icon-for-parallax-first {
    width: 90px;
    margin-top: 100px;
    margin-left: 170px;
    z-index: 3;
}
.icon-for-parallax-second {
    width: 80px;
    margin-top: 80px;
    margin-left: 200px;
    z-index: 2;
}
.icon-for-parallax-third {
    width: 75px;
    margin-top: 60px;
    margin-left: 230px;
    z-index: 1;
}
.cart-header {
    align-items: center;
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
}
h1 {
    font-size: 36px;
    font-family: serif;
}
h4 {
    font-size: 14px;
}
p {
    font-size: 22px;
    margin-bottom: 0;
}
table tr td {
    padding: 5px;
}
.create-page-header {
    color: black;
    padding: 20px;
    margin-bottom: 30px;
}
.logo {
    width: 150px;
    height: auto;
    box-shadow: black;
}
.archive {
    width: 960px;
    margin: 0 auto;
}
.empty-article{
    color: white;
}
.archive .empty-article {
    text-align: center;
}
.one-post {
    text-decoration: none;
    background: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.3s;
}
/* .one-post:hover {
    background: gainsboro;
    transform: translateX(10px);
} */
.one-post.folded .article-info {
    overflow: hidden;
    display: none;
}
.one-post-header {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fold-button {
    background: #13593e;
    color: #ffffff;
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.fold-button:hover {
    background: #196246;
}
.post-title {
    margin-bottom: 10px;
    background: white;
    color: black;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
}
.article-title {
    color: black;
}
.article-meta {
    display: flex;
    flex-direction: column;
}
.article-text {
    width: auto;
    font-size: 22px;
    margin-top: 30px;
}
.content {
    width: fit-content;
    margin: 0 auto;
    background: white;
    padding: 40px;
    border-radius: 15px;
}
.error-page {
    text-align: center;
    align-items: center;
    padding: 100px;
}
.error-page h1 {
    background-color: #f44336; /* Красный цвет */
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}
.error-content {
    width: fit-content;
    margin: 0 auto;
    background: white;
    padding: 40px;
    border-radius: 15px;
}
.create-page {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.error-message {
    background-color: #f44336; /* Красный цвет */
    color: white;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
.form-group {
    text-align: center;
    padding: 14px;
}
.field-requirements {
    color: #777;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 15px;
    text-align: left;
}
.submit-btn {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #00ae8b;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}
.submit-btn:hover {
    background-color: #009688;
}
.global-link {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.3);
    padding: 5px 25px;
    border-radius: 5px;
    font-size: 14px;
}
.global-link:hover {
    background: rgba(0, 0, 0, 0.5);
}
input,
textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 15px;
    resize: vertical;
}
input[type="text"]:focus, textarea:focus {
  border-color: #009688;
  outline: none;
}
/* Стили для меток (labels) */
.require-field {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}
/* Обязательные поля (отмечены *) */
.require-field:after {
    content: '*';
    color: red;
    margin-left: 5px;
}