{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ post.title }} | Блог</title>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>
    <body>
        <div class="header">
            <img src="{% static 'img/logo.png' %}" alt="Логотип" class="logo">
            <h1>Блог</h1>
            <div class="user-menu">
                {% if user.is_authenticated %}
                    <div class="auth-content">
                        <span class="user-info">Привет, {{ user.username }}!</span>
                        <a href="{% url 'logout' %}">Выйти</a>
                    </div>
                    <div class="article-buttons">
                        <a href="{% url 'archive' %}">Все статьи</a>
                        <a href="{% url 'create_post' %}">Написать статью</a>
                    </div>
                {% else %}
                    <div class="auth-content">
                        <a href="{% url 'login' %}">Войти</a>
                        <a href="{% url 'register_view' %}">Регистрация</a>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if user.is_authenticated %}
            <div class="content">
                <h1 class="article-title">{{ post.title }}</h1>
                <div class="article-meta">
                    <span class="article-author">Автор: {{ post.author.username }}</span>
                    <span class="article-date">Дата создания: {{ post.created_date }}</span>
                </div>
                <div c lass="article-text">
                    <p>{{ post.text|linebreaks }}</p>
                </div>
                <a href="{% url 'archive' %}" class="global-link">Все записи</a>
            </div>
        {% else %}
        <div class="unauthorized-page">
            <h1>
                Неавторизованные пользователи не могут просматривать статьи
            </h1>
        </div>
        {% endif %}
    </body>
</html>