body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #ffffff;
}
.create-page-content {
    align-items: center;
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
}
h1 {
    font-size: 36px;
    font-family: serif;
}
h4 {
    font-size: 14px;
}
p {
    font-size: 22px;
    margin-bottom: 0;
}
table tr td {
    padding: 5px;
}
.header {
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
}
.create-page-header {
    color: black;
    padding: 20px;
    margin-bottom: 30px;
}
.logo {
    width: 150px;
    height: auto;
}
.archive {
    width: 960px;
    margin: 0 auto;
}
.one-post {
    background: rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.3s;
}
.one-post:hover {
    background: rgba(0, 0, 0, 0.3);
    transform: translateX(10px);
}
.post-title {
    margin-bottom: 10px;
}
.post-title a {
    color: #ffffff;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.3);
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
}
.read-more {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.3);
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
}
.read-more:hover {
    background: rgba(0, 0, 0, 0.5);
}
.content {
    width: fit-content;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.3);
    padding: 40px;
    border-radius: 15px;
}
.error-page {
    text-align: center;
    align-items: center;
    padding: 100px;
}
.error-page h1 {
    background-color: #f44336; /* Красный цвет */
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}
.create-page {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.error-message {
    background-color: #f44336; /* Красный цвет */
    color: white;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
.form-group {
    text-align: center;
    padding: 14px;
}
.field-requirements {
    color: #777;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 15px;
    text-align: left;
}
.submit-btn {
    text-align: center;
    border-radius: 8px;
    padding: 20px;
}
.back-link {
    text-align: center;
    padding: 20px;
}
input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 15px;
    resize: vertical; /* Для textarea */
}
input[type="text"]:focus, textarea:focus {
  border-color: #009688;
  outline: none;
}
/* Стили для меток (labels) */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

/* Обязательные поля (отмечены *) */
label:after {
    content: '*';
    color: red;
    margin-left: 5px;
}